name: Publish blog to S3

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4.7'
          bundler-cache: true
          cache-version: 0
      - name: Build the website
        run: bundle exec jekyll build
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          aws-region: ${{ vars.AWS_REGION }}
          role-to-assume: ${{ vars.AWS_ROLE }}
      - name: Publish the website to S3
        run: |
          aws s3 sync ./_site s3://${{ vars.AWS_S3_BUCKET }}/ \
            --delete \
            --exclude "README.md"
